<footer style="width: 100vw; margin-left: 0; margin-right: 0;">
    <div style="align-content: center;">
      <a href="/help" style = "color:aliceblue">Learn more about categories</a>
      © 2024 Copyright     
    </div>
</footer>