    <nav>
        <div class="topMenu">
            <div class="logo">
               <a href="/"><img src="../img/logo.svg" alt="logo" class="logo"></a>
            </div>

            <div class="btn">
                <form  action="/register" >
                    <input class="btn-SignUp" type="submit" value="Sign Up">
                </form>
                <form action="/login">
                    <input class="btn-Login" type="submit" value="Login">
                </form>
            </div>
        </div>      
    </nav>