    <nav>
        <div class="topMenu">
            <div class="logo">
               <a href="/"><img src="../img/logo.svg" alt="logo" class="logo"></a>
            </div>
            <div class="btn">
                <button class="btn-SignUp">Sign Up</button>
                <button class="btn-Login">Login</button>
            </div>
           
        </div>
        
    </nav>