    <nav>
        <div class="topMenu">
            <div class="logo">
               <a href="/"><img src="/img/logo.svg" alt="logo" class="logo"></a>
            </div>

            <div class="btn">
               
                <a href="/users/register"> <input class="btn-SignUp" type="submit" value="Sign Up"></a>
                <a href="/users/login"> <input class="btn-Login" type="submit" value="Login"></a>
               
            </div>
        </div>      
    </nav>