<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <div style="margin-top: 100px;">
    <h1>404: Ledger Missing</h1>
    <p>Hmm, it looks like this page has gone off the budget sheet!</p>
    <p><b>No worries, just a slight calculation error!</b> Click <a href="/">here</a> to return to the home page and straighten out those numbers.</p>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>