<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <div style="margin-top: 100px;">
    <h1>Knowledge Repository</h1>
    <div>
        <h2>Household and Living</h2>

        <!-- <h2>Transportation</h2>

        <h2>Food and Dining</h2>

        <h2>Health and Wellness</h2>

        <h2>Personal and Family Care</h2>

        <h2>Entertainment and Leisure</h2>

        <h2>Savings and Investments</h2>

        <h2>Miscellaneous</h2> -->

    </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>