<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %>
<body>
    <%- include ('./partials/nav') %>
    <div class="main">
        <div class = 'main-text'>
            <p style="color:grey; letter-spacing: 5px; font-size: 14px;">Manage Your Spending</p>
            <h1>Personal Finance Tracker</h1>
            <p>Welcome to your personal finance tracker! Let's simplify your budgeting and optimize your financial health together.</p>
            <p>Track every penny with ease and gain insights into your spending habits to make better financial decisions. Start securing your financial future today with our intuitive tools and personalized dashboards.</p>
            <a href="users/login"><button class="btn-getStarted">Get Started</button></a>
        </div>
        <div class = 'main-img'>
            <img src="../img/hero.png" alt="hero" class="hero">
        </div>
    </div>
</body>
<%- include ('./partials/footer') %>
</html>