<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head') %>
<body>
    <%- include ('./partials/nav') %>
    <div class="div-form">
       
        <form action="">
            <h2 style="color: #fac36a; margin:0">Registration form:</h2>
            <input type="text" name="userName" id="userName" placeholder="Your Name">
            <input type="text" name="userName" id="login" placeholder="Create Account Name">
            <input type="text" name="userName" id="password" placeholder="Create Password">
            <button type="submit" class = "btn-form">Create account</button>
        </form>
    </div>
    <%- include ('./partials/footer') %>
</body>
</html>